@page "/empresasmanager"
@attribute [Authorize]

@using FormacaoDGR.Data.Models
@using FormacaoDGR.Data.Services
@using FormacaoDGR.Pages.Components
@using FormacaoDGR.Pages.Formador.Components
@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Notifications

@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IEmpresaService _empresaService
@inject IJSRuntime _jsRuntime

<AuthorizeView>
    <Authorized>
        <div class="col-lg-12 col-md-12 col-sm12 col-12">
            <SfCard>
                <CardHeader>
                    <h4>Empresas</h4>
                </CardHeader>
                <CardContent>
                    @if (AllEmpresas == null)
                    {
                        <p><em>Loading...</em></p>
                    }
                    else
                    {
                        <table class="table table-bordered table-hover table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    @if (@context.User.IsInRole("temp")) //substituir por Admins
                                    {
                                        <th>Criado em:</th>
                                        <th>Criado por:</th>
                                        <th>Atualizado em:</th>
                                        <th>Atualizado por:</th>
                                    }
                                    <th>Menu</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Empresa empresaItem in AllEmpresas)
                                {
                                    <tr>
                                        <td>@empresaItem.Nome</td>
                                        @if (@context.User.IsInRole("temp")) //substituir por Admins
                                        {
                                            <td>@empresaItem.CreatedAt</td>
                                            <td>@empresaItem.CreatedBy</td>
                                            <td>@empresaItem.LastUpdatedAt</td>
                                            <td>@empresaItem.LastUpdatedBy</td>
                                        }
                                        <td>
                                            <SfButton IconCss="e-icons e-edit" CssClass="e-round e-small e-primary" HtmlAttributes="@btnConfig("Editar","modal","#empresaModal")"
                                                      @onclick="(() => PrepareForEdit(empresaItem))"></SfButton>
                                            <SfButton IconCss="e-icons e-delete" CssClass="e-round e-small e-danger" HtmlAttributes=@btnConfig("Apagar","modal","#confirmDeleteModal")
                                                      @onclick="(() => PrepareForDelete(empresaItem))"></SfButton>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    }
                </CardContent>
                <CardFooter>
                    <div>
                        <SfButton IconCss="e-icons e-add" CssClass="e-success" HtmlAttributes=@btnConfig("Adicionar","modal","#empresaModal")
                                  IconPosition="IconPosition.Right" @onclick="(() => InitializeUhObject())">Criar</SfButton>
                    </div>
                </CardFooter>
            </SfCard>
        </div>

        <ConfirmDialog OnClick="@Delete" />

        <EmpresasModal ModelEmpresa=modelEmpresa DataChanged="@DataChanged">
            <CustomHeader>@customHeader</CustomHeader>
        </EmpresasModal>

    </Authorized>
    <NotAuthorized>
        <p>Não está logado.</p>
    </NotAuthorized>
</AuthorizeView>

<SfToast @ref="ToastObj" Title="@ToastTitle" Content="@ToastContent" CssClass="@ToastCssClass">
    <ToastPosition X="Center" Y="Top"></ToastPosition>
</SfToast>

@code {

    private Dictionary<string, object> btnConfig(string title, string dtoggle, string dtarget)
    {
        var btn = new Dictionary<string, object>()
        {
            { "title", title},
            { "data-toggle", dtoggle},
            { "data-target", dtarget}
        };

        return btn;
    }

    SfToast ToastObj;

    private string ToastTitle = "";
    private string ToastContent = "";
    private string ToastCssClass = "";
    private string ToastIcon = "";

    private ToastOption[] Toasts = new ToastOption[]
    {
        new ToastOption{ Title = "Sucesso!", Content="Empresa criada com sucesso.", CssClass="e-toast-success", Icon="e-success toast-icons" },
        new ToastOption{ Title = "Sucesso!", Content="Empresa editada com sucesso.", CssClass="e-toast-success", Icon="e-success toast-icons" },
        new ToastOption{ Title = "Sucesso!", Content="Empresa apagada com sucesso.", CssClass="e-toast-info", Icon="e-info toast-icons" }
    };

    IList<Empresa> AllEmpresas = new List<Empresa>();
    Empresa modelEmpresa = new Empresa();
    string customHeader = string.Empty;

    //protected override async Task OnInitializedAsync()
    protected override async Task OnInitializedAsync()
    {
        await GetAllEmpresas();
    }

    private void InitializeUhObject()
    {
        modelEmpresa = new Empresa();
        customHeader = "Adicionar Empresa";
    }

    private async void DataChanged()
    {
        await GetAllEmpresas();
        StateHasChanged();
    }

    public async Task GetAllEmpresas()
    {
        AllEmpresas = await _empresaService.GetAllEmpresasAsync();
    }

    private void PrepareForEdit(Empresa empresa)
    {
        customHeader = "Editar Grupo";
        modelEmpresa = empresa;
    }

    private void PrepareForDelete(Empresa empresa)
    {
        modelEmpresa = empresa;
    }

    private async Task Delete()
    {
        await _empresaService.DeleteEmpresaAsync(modelEmpresa);
        await _jsRuntime.InvokeAsync<object>("global.closeModal", "confirmDeleteModal");

        await GetAllEmpresas();
        modelEmpresa = new Empresa();
        ShowMsg(2);
    }

    private async void ShowMsg(int msg)
    {
        this.ToastTitle = this.Toasts[msg].Title;
        this.ToastContent = this.Toasts[msg].Content;
        this.ToastCssClass = this.Toasts[msg].CssClass;
        this.ToastIcon = this.Toasts[msg].Icon;

        await Task.Delay(100);
        await this.ToastObj.Show();
    }

    private class ToastOption
    {
        public string Title { get; set; }
        public string Content { get; set; }
        public string CssClass { get; set; }
        public string Icon { get; set; }
    }

}
