<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">FormacaoDGR</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <Icon Name="@("fas fa-home fa-2x fa-fw")" />&nbsp; Início
            </NavLink>
        </li>
        <AuthorizeView>
            <Authorized>
                @if (@context.User.IsInRole("Admins"))
                {
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="uhsmanager">
                            <Icon Name="@("fab fa-avianex fa-2x fa-fw")" />&nbsp; Unidades de Handling
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="departamentosmanager">
                            <Icon Name="@("fas fa-link fa-2x fa-fw")" />&nbsp; Departamentos
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="usersmanager">
                            <Icon Name="@("fas fa-users fa-2x fa-fw")" />&nbsp; Utilizadores
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="gruposmanager">
                            <Icon Name="@("fas fa-layer-group fa-2x fa-fw")" />&nbsp; Grupos
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="empresasmanager">
                            <Icon Name="@("fas fa-city fa-2x fa-fw")" />&nbsp; Empresas
                        </NavLink>
                    </li>
                    <li class="nav-item px-3">
                        <NavLink class="nav-link" href="cursosmanager">
                            <Icon Name="@("fas fa-book fa-2x fa-fw")" />&nbsp; Cursos
                        </NavLink>
                    </li>
                }
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="formandosmanager">
                        <Icon Name="@("fas fa-user-graduate fa-2x fa-fw")" />&nbsp; Formandos
                    </NavLink>
                </li>
            </Authorized>
            <NotAuthorized>
                <li class="nav-item px-3">
                    <span>Não está logado.</span>
                </li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
