@using FormacaoDGR.Areas.Identity.Models
@using FormacaoDGR.Areas.Identity.Services

@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject IUhService _uhService
@inject IJSRuntime _jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="uhModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@ModelUh" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <label for="taskName">Nome</label>
                        <input type="hidden" @bind-value="@ModelUh.UhID" />
                        <InputText id="name" class="form-control" @bind-Value="@ModelUh.UhNome" />
                        <ValidationMessage For="@(() => ModelUh.UhNome)" />
                    </div>
                    <div class="form-group">
                        <label for="taskName">IATA</label>
                        <InputText id="name" class="form-control" @bind-Value="@ModelUh.UhIATA"
                                   oninput="let p=this.selectionStart;this.value=this.value.toUpperCase();this.setSelectionRange(p, p);" />
                        <ValidationMessage For="@(() => ModelUh.UhIATA)" />
                    </div>
                    <span data-toggle="tooltip" data-placement="top" title="Gravar">
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="oi oi-hard-drive"></span> Submeter
                        </button>
                    </span>
                    <span data-toggle="tooltip" data-placement="top" title="Fechar">
                        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">
                            <span class="oi oi-hard-drive"></span> Cancelar
                        </button>
                    </span>
                </EditForm>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Uh ModelUh { get; set; }

    [Parameter]
    public Action DataChanged { get; set; }

    [Parameter]
    public RenderFragment CustomHeader { get; set; }

    private async void HandleValidSubmit()
    {
        if (ModelUh.UhID == Guid.Empty)
        {
            await _uhService.AddUhAsync(ModelUh);

            await Task.Delay(100);
            Toaster.Success("UH adicionada com sucesso", "Sucesso!");
        }
        else
        {
            await _uhService.UpdateUhAsync(ModelUh);

            await Task.Delay(100);
            Toaster.Success("UH editada com sucesso", "Sucesso!");
        }

        await CloseUhModal("uhModal");
        DataChanged?.Invoke();
    }

    private async Task CloseUhModal(string modalId)
    {
        await _jsRuntime.InvokeAsync<object>("global.closeModal", modalId);
    }
}