@using Microsoft.AspNetCore.Identity
@using FormacaoDGR.Areas.Identity.Models
@using FormacaoDGR.Areas.Identity.Services
@using FormacaoDGR.Pages.Helpers
@using FormacaoDGR.Pages.Components

@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject UserManager<ApplicationUser> _UserManager
@inject IAppUserService _appUserService
@inject IAppRoleService _appRoleService
@inject IAppUserRoleService _appUserRoleService
@inject IUserUhService _userUhService
@inject IUhService _uhService
@inject IJSRuntime _jsRuntime

<div class="modal" tabindex="-1" role="dialog" id="userModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@CustomHeader</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="@ModelUser" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <input type="hidden" @bind-value="@ModelUser.Id" />
                        <label for="Name">Nome</label>
                        <InputText id="Name" class="form-control" @bind-Value="@ModelUser.Name" />
                        <ValidationMessage For="@(() => ModelUser.Name)" />
                    </div>
                    <div class="form-group">
                        <label for="UserName">Email</label>
                        <InputText id="UserName" class="form-control" @bind-Value="@ModelUser.UserName" />
                        <ValidationMessage For="@(() => ModelUser.UserName)" />
                    </div>
                    <div class="form-group">
                        <label for="UserName">Password</label>
                        <InputText type="password" autocomplete="password" id="PasswordHash" class="form-control" @bind-Value="@ModelUser.PasswordHash" />
                        <ValidationMessage For="@(() => ModelUser.PasswordHash)" />
                    </div>
                    <div class="form-group">
                        <label for="Role">Tipo</label>
                        <InputSelect id="category" class="form-control" @bind-Value="OwnedRoleId">
                            <option value="">Select</option>
                            @foreach (var role in AllRoles)
                            {
                                <option value="@role.Id">
                                    @role.Name
                                </option>
                            }
                        </InputSelect>
                    </div>
                    <div class="form-group">
                        <label for="Uhs">UH's</label>
                        <MultipleSelector Selected="Selected" NoSelected="NotSelected"></MultipleSelector>
                    </div>
                    <span data-toggle="tooltip" data-placement="top" title="Gravar">
                        <button type="submit" class="btn btn-success btn-sm">
                            <span class="oi oi-hard-drive"></span> Submeter
                        </button>
                    </span>
                    <span data-toggle="tooltip" data-placement="top" title="Fechar">
                        <button type="button" class="btn btn-warning btn-sm" data-dismiss="modal">
                            <span class="oi oi-hard-drive"></span> Cancelar
                        </button>
                    </span>
                </EditForm>
                <p>
                    <span style="color:red">@strError</span>
                </p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public ApplicationUser ModelUser { get; set; }

    [Parameter]
    public Action DataChanged { get; set; }

    [Parameter]
    public RenderFragment CustomHeader { get; set; }

    [Parameter]
    public bool IsEdit { get; set; }

    IList<Uh> AllModalUhs = new List<Uh>();
    IList<ApplicationRole> AllRoles = new List<ApplicationRole>();

    IList<UserUh> ownedUhList = new List<UserUh>();
    public Guid[] OwnedUhs { get; set; } = new Guid[] { };

    ApplicationUserRole ownedRole = new ApplicationUserRole();
    public string OwnedRoleId { get; set; } = string.Empty;
    // To hold any possible errors
    string strError = "";

    [Parameter] public List<Uh> SelectedUhs { get; set; } = new List<Uh>();
    [Parameter] public List<Uh> NotSelectedUhs { get; set; } = new List<Uh>();

    private List<MultipleSelectorModel> Selected = new List<MultipleSelectorModel>();
    private List<MultipleSelectorModel> NotSelected = new List<MultipleSelectorModel>();

    protected override async Task OnInitializedAsync()
    {
        AllModalUhs = await _uhService.GetAllUhsAsync();
        AllRoles = await _appRoleService.GetAllRolesAsync();

        Selected = SelectedUhs.Select(x => new MultipleSelectorModel(x.UhID.ToString(), x.UhNome)).ToList();
        NotSelected = NotSelectedUhs.Select(x => new MultipleSelectorModel(x.UhID.ToString(), x.UhNome)).ToList();
    }

    protected override async void OnParametersSet()
    {
        await FillOwnedList(ModelUser.Id);
    }

    private async Task FillOwnedList(string uid)
    {
        ownedUhList = await _userUhService.GetOwnedUserUhsAsync(uid);
        OwnedUhs = ownedUhList.Select(i => i.Uh.UhID).ToArray();

        ownedRole = await _appUserRoleService.GetUserRoleAsync(uid);
        if (ownedRole != null)
        {
            OwnedRoleId = ownedRole.RoleId;
        }
        else
        {
            OwnedRoleId = string.Empty;
        }

    }

    private async void HandleValidSubmit()
    {
        try
        {
            if (IsEdit)
            {
                // Get the user
                var user = await _UserManager.FindByIdAsync(ModelUser.Id);

                // Update the user
                user.Name = ModelUser.Name;
                user.UserName = ModelUser.UserName;
                user.NormalizedUserName = ModelUser.UserName.ToUpper();
                user.Email = ModelUser.UserName;
                user.NormalizedEmail = ModelUser.UserName.ToUpper();
                user.PasswordHash = user.PasswordHash;

                // Only update password if the current value
                // is not the default value
                if (ModelUser.PasswordHash != "*****")
                {
                    var resetToken = await _UserManager.GeneratePasswordResetTokenAsync(user);
                    var passworduser = await _UserManager
                        .ResetPasswordAsync(
                            user,
                            resetToken,
                            ModelUser.PasswordHash
                        );

                    if (!passworduser.Succeeded)
                    {
                        if (passworduser.Errors.FirstOrDefault() != null)
                        {
                            strError = passworduser.Errors.FirstOrDefault().Description;
                        }
                        else
                        {
                            strError = "Pasword error";
                        }
                        // Keep the popup opened
                        return;
                    }
                }

                var updateResult = await _UserManager.UpdateAsync(user);

                if (!updateResult.Succeeded)
                {
                    if (updateResult.Errors.FirstOrDefault() != null)
                    {
                        strError = updateResult.Errors.FirstOrDefault().Description;
                    }
                    else
                    {
                        strError = "Update error";
                    }
                    // Keep the popup opened
                    return;
                }
                else
                {
                    await _userUhService.DeleteAllUserUhAsync(ModelUser.Id);
                    await _appUserRoleService.DeleteAllUserRolesAsync(ModelUser.Id);

                    if (OwnedUhs != null)
                    {
                        foreach (var ownedUh in OwnedUhs)
                        {
                            UserUh itemUserUh = new UserUh()
                            {
                                UhID = ownedUh,
                                UserId = user.Id
                            };
                            await _userUhService.AddUserUhAsync(itemUserUh);
                        }
                    }

                    if (OwnedRoleId != null)
                    {
                        ApplicationUserRole itemUserRole = new ApplicationUserRole()
                        {
                            RoleId = OwnedRoleId,
                            UserId = user.Id
                        };
                        await _appUserRoleService.AddUserRoleAsync(itemUserRole);
                    }
                }

                await Task.Delay(100);
                Toaster.Success("Utilizador editado com sucesso", "Sucesso!");

            }
            else
            {
                // Insert new user
                var NewUser = new ApplicationUser
                {
                    Name = ModelUser.Name,
                    UserName = ModelUser.UserName,
                    NormalizedUserName = ModelUser.UserName.ToUpper(),
                    Email = ModelUser.UserName,
                    NormalizedEmail = ModelUser.UserName.ToUpper()
                };
                var CreateResult = await _UserManager.CreateAsync(NewUser, ModelUser.PasswordHash);
                if (!CreateResult.Succeeded)
                {
                    if (CreateResult.Errors.FirstOrDefault() != null)
                    {
                        strError = CreateResult.Errors.FirstOrDefault().Description;
                    }
                    else
                    {
                        strError = "Create error";
                    }
                    // Keep the popup opened
                    return;
                }
                else
                {
                    if (OwnedUhs != null)
                    {
                        foreach (var ownedUh in OwnedUhs)
                        {
                            UserUh itemUserUh = new UserUh()
                            {
                                UhID = ownedUh,
                                UserId = NewUser.Id
                            };
                            await _userUhService.AddUserUhAsync(itemUserUh);
                        }
                    }

                    if (OwnedRoleId != null)
                    {
                        ApplicationUserRole itemUserRole = new ApplicationUserRole()
                        {
                            RoleId = OwnedRoleId,
                            UserId = NewUser.Id
                        };
                        await _appUserRoleService.AddUserRoleAsync(itemUserRole);
                    }
                }

                await Task.Delay(100);
                Toaster.Success("Utilizador adicionado com sucesso", "Sucesso!");
            }

            await CloseUserModal("userModal");
            DataChanged?.Invoke();
        }
        catch (Exception ex)
        {
            strError = ex.GetBaseException().Message;
        }
    }

    private async Task CloseUserModal(string modalId)
    {
        await _jsRuntime.InvokeAsync<object>("global.closeModal", modalId);
    }

}