@page "/gruposmanager"
@attribute [Authorize]

@using FormacaoDGR.Data.Models
@using FormacaoDGR.Data.Services
@using FormacaoDGR.Pages.Components
@using FormacaoDGR.Pages.Tabelas.Components

@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IGrupoService _grupoService
@inject IJSRuntime _jsRuntime

<AuthorizeView Context="authContext">
    <Authorized>
        <Container Fluid="true">
            <Breadcrumb Mode="BreadcrumbMode.Auto">
                <BreadcrumbItem>
                    <BreadcrumbLink To="">Início</BreadcrumbLink>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <BreadcrumbLink To="#">Tabelas</BreadcrumbLink>
                </BreadcrumbItem>
                <BreadcrumbItem>
                    <BreadcrumbLink To="gruposmanager">Grupos</BreadcrumbLink>
                </BreadcrumbItem>
            </Breadcrumb>
            <Row>
                <Column ColumnSize="ColumnSize.Is6.OnDesktop.Is12.OnMobile">
                    <Card>
                        <CardBody>
                            <CardTitle Size="5">Grupos</CardTitle>
                            <CardText>
                                @if (AllGrupos == null)
                                {
                                    <p><em>Loading...</em></p>
                                }
                                else
                                {
                                    <Table Striped="true" Bordered="true" Hoverable="true" FullWidth="false">
                                        <TableHeader ThemeContrast="ThemeContrast.Light">
                                            <TableRow>
                                                <TableHeaderCell>Menu</TableHeaderCell>
                                                <TableHeaderCell>Nome</TableHeaderCell>
                                                @if (authContext.User.IsInRole("temp")) //substituir por Admins
                                                {
                                                    <TableHeaderCell>Criado em:</TableHeaderCell>
                                                    <TableHeaderCell>Criado por:</TableHeaderCell>
                                                    <TableHeaderCell>Atualizado em:</TableHeaderCell>
                                                    <TableHeaderCell>Atualizado por:</TableHeaderCell>
                                                }
                                            </TableRow>
                                        </TableHeader>
                                        <TableBody>
                                            @foreach (Grupo grupoItem in AllGrupos)
                                            {
                                                <TableRow>
                                                    <TableRowCell>
                                                        <Tooltip Text="Editar Grupo">
                                                            <Button Color="Color.Info" Clicked="@(() => PrepareForEdit(grupoItem))"
                                                                    data-toggle="modal" data-target="#grupoModal">
                                                                <Icon Name="IconName.Edit" />
                                                            </Button>
                                                        </Tooltip>
                                                        <Tooltip Text="Apagar Grupo">
                                                            <Button Color="Color.Danger" Clicked="@(() => PrepareForDelete(grupoItem))"
                                                                    data-toggle="modal" data-target="#confirmDeleteModal">
                                                                <Icon Name="IconName.Delete" />
                                                            </Button>
                                                        </Tooltip>
                                                    </TableRowCell>
                                                    <TableRowCell>@grupoItem.Nome</TableRowCell>
                                                    @if (authContext.User.IsInRole("temp")) //substituir por Admins
                                                    {
                                                        <TableRowCell>@grupoItem.CreatedAt</TableRowCell>
                                                        <TableRowCell>@grupoItem.CreatedBy</TableRowCell>
                                                        <TableRowCell>@grupoItem.LastUpdatedAt</TableRowCell>
                                                        <TableRowCell>@grupoItem.LastUpdatedBy</TableRowCell>
                                                    }
                                                </TableRow>
                                            }
                                        </TableBody>
                                    </Table>

                                }

                                <Tooltip Text="Criar novo Grupo">
                                    <Button Color="Color.Success" Clicked="@(() => InitializeGrupoObject())"
                                            data-toggle="modal" data-target="#grupoModal">
                                        Criar <Icon Name="IconName.Add" />
                                    </Button>
                                </Tooltip>
                            </CardText>
                        </CardBody>
                    </Card>
                </Column>
            </Row>
        </Container>

        <ConfirmDialog OnClick="@Delete" />
        <GruposModal ModelGrupo=modelGrupo DataChanged="@DataChanged">
            <CustomHeader>@customHeader</CustomHeader>
        </GruposModal>

    </Authorized>
    <NotAuthorized>
        <p>Não está logado.</p>
    </NotAuthorized>
</AuthorizeView>

@code {

    IList<Grupo> AllGrupos = new List<Grupo>();
    Grupo modelGrupo = new Grupo();

    string customHeader = string.Empty;

    //protected override async Task OnInitializedAsync()
    protected override async Task OnInitializedAsync()
    {
        await GetAllGrupos();
    }

    private void InitializeGrupoObject()
    {
        modelGrupo = new Grupo();
        customHeader = "Adicionar Grupo";
    }

    private async void DataChanged()
    {
        await GetAllGrupos();
        StateHasChanged();
    }

    public async Task GetAllGrupos()
    {
        AllGrupos = await _grupoService.GetAllAsync();
    }

    private void PrepareForEdit(Grupo grupo)
    {
        customHeader = "Editar Grupo";
        modelGrupo = grupo;
    }

    private void PrepareForDelete(Grupo grupo)
    {
        modelGrupo = grupo;
    }

    private async Task Delete()
    {
        await _grupoService.DeleteAsync(modelGrupo);
        await _jsRuntime.InvokeAsync<object>("global.closeModal", "confirmDeleteModal");

        AllGrupos = await _grupoService.GetAllAsync();
        modelGrupo = new Grupo();

        await Task.Delay(100);
        Toaster.Error("Grupo apagado com sucesso", "Sucesso!");
    }

}
