@using FormacaoDGR.Data.Models
@using FormacaoDGR.Data.Services

@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject IGrupoService _grupoService
@inject IJSRuntime _jsRuntime

<Modal @ref="@GrupoModal" role="dialog" id="grupoModal">
    <ModalBackdrop />
    <ModalContent Centered="true" Size="ModalSize.Default">
        <ModalHeader>
            <ModalTitle>@CustomHeader</ModalTitle>
            <CloseButton Clicked="@(() => CloseGrupoModal("grupoModal"))" />
        </ModalHeader>
        <EditForm Model="@ModelGrupo" OnValidSubmit="@HandleValidSubmit">
            <ModalBody>
                <DataAnnotationsValidator />
                <input type="hidden" @bind-value="@ModelGrupo.ID" />
                <Field>
                    <FieldLabel>Nome</FieldLabel>
                    <TextEdit @bind-Text="@ModelGrupo.Nome">
                        <FieldHelp>Inserir nome do grupo</FieldHelp>
                    </TextEdit>
                    <ValidationMessage For="@(() => ModelGrupo.Nome)" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Tooltip Text="Gravar">
                    <Button Color="Color.Success" Type="ButtonType.Submit">
                        <Icon Name="IconName.Save" /> Submeter
                    </Button>
                </Tooltip>
                <Tooltip Text="Fechar">
                    <Button Color="Color.Warning" Clicked="@(() => CloseGrupoModal("grupoModal"))">
                        <Icon Name="IconName.StepBackward" /> Cancelar
                    </Button>
                </Tooltip>
            </ModalFooter>
        </EditForm>
    </ModalContent>
</Modal>

@code {
    [Parameter] public Grupo ModelGrupo { get; set; }
    [Parameter] public Action DataChanged { get; set; }
    [Parameter] public RenderFragment CustomHeader { get; set; }

    private Modal GrupoModal;

    private async void HandleValidSubmit()
    {
        if (ModelGrupo.ID == Guid.Empty)
        {
            await _grupoService.AddAsync(ModelGrupo);

            await Task.Delay(100);
            Toaster.Success("Grupo adicionado com sucesso", "Sucesso!");
        }
        else
        {
            await _grupoService.UpdateAsync(ModelGrupo);

            await Task.Delay(100);
            Toaster.Success("Grupo editado com sucesso", "Sucesso!");
        }

        await CloseGrupoModal("grupoModal");
        DataChanged?.Invoke();
    }

    private async Task CloseGrupoModal(string modalId)
    {
        await _jsRuntime.InvokeAsync<object>("global.closeModal", modalId);
    }

}
